<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Librarian account</title>

    <style>
        table, th, td {
            border: 1px solid gray;
            border-collapse: collapse;
        }
        .redRow {
            background-color: pink;
        }
    </style>
</head>
<body>
<!--    TODO Информация о пользователе-->
    <br>

    <h2>Readers orders</h2>
    <table>
        <tr>
            <td>Book</td>
            <td>Reader</td>
            <td>Create</td>
            <td id="give"></td>
        </tr>
        <div th:each="order: ${orders}">
            <tr>
                <td th:text="${order.getBook().getTitle() + ' (' + order.getBook().getAuthor() + ')'}">book</td>
                <td th:text="${order.getUser().getFullName()}">reader</td>
                <td th:text="${order.getCreateDate().format(dateFormatter)}">created date</td>
                <td><a th:href="@{/book_give/{book_id}?readerId={reader_id}&orderId={order_id} (book_id=${order.getBook().getId()}, reader_id=${order.getUser().getId()}, order_id=${order.getId()})}" th:if="${canGiveOrders.contains(order)}">give</a></td>
            </tr>
        </div>
    </table>
    <br>
    <br>

    <h2>Given books</h2>
    <table>
        <tr>
            <td>Book</td>
            <td>Reader</td>
            <td>in reading room</td>
            <td>Given date</td>
            <td>Return date</td>
            <td id="return"></td>
            <td>Fine</td>
        </tr>
        <div th:each="givenBook: ${given_books}">
            <tr th:classappend="${fines.get(givenBook)>0 ? 'redRow' : ''}">
                <td th:text="${givenBook.getBook().getTitle() + ' (' + givenBook.getBook().getAuthor() + ')'}">book</td>
                <td th:text="${givenBook.getUser().getFullName()}">reader</td>
                <td th:text="${givenBook.isInReadingRoom() ? 'YES' : ''}" align="center">reading room</td>
                <td th:text="${givenBook.getGivenDate().format(dateFormatter)}">return date</td>
                <td th:text="${givenBook.getReturnDate().format(dateFormatter)}">return date</td>
                <td><a th:href="@{/book_return/{given_book_id} (given_book_id=${givenBook.getId()})}">return</a></td>
                <td th:text="${fines.get(givenBook)>0 ? fines.get(givenBook): ''}" align="center">fine</td>
            </tr>
        </div>
    </table>
</body>
</html>