<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book catalog</title>

    <style>
        table, th, td {
            border: 1px solid gray;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <form method="get" action="/catalog">
        <label for="filter">Find books by Title or Author </label><input type="text" id="filter" name="filter" th:value="${filter}">
        <input type="submit" value="Find">
    </form>
    <br>

    Sort by: <a th:href="@{/catalog?sort=title&filter={filter} (filter=${filter}) }">title</a>
             <a th:href="@{/catalog?sort=author&filter={filter} (filter=${filter}) }">author</a>
             <a th:href="@{/catalog?sort=publisher&filter={filter} (filter=${filter}) }">publisher</a>
             <a th:href="@{/catalog?sort=dateOfPublication&filter={filter} (filter=${filter}) }">publication date</a>
    <br>

    Page: <span th:text="${page+1}"/>
    <a th:href="@{/catalog?sort={sort}&page={page}&filter={filter} (sort=${sort}, page=${page-1}, filter=${filter}) }" th:if="${page>0}">previous</a>
    <a th:href="@{/catalog?sort={sort}&page={page}&filter={filter} (sort=${sort}, page=${page+1}, filter=${filter}) }" th:if="${page<totalPages-1}">next</a>
    <br>

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Pages</th>
            <th>Publisher</th>
            <th>Date of publication</th>
            <th id="order"></th>
            <th id="edit"></th>
            <th id="delete"></th>
            <th id="give"></th>
        </tr>
        <div th:each="book: ${books}">
            <tr>
                <td th:text="${book.getTitle()}">title</td>
                <td th:text="${book.getAuthor()}">author</td>
                <td th:text="${book.getPages()}">pages</td>
                <td th:text="${book.getPublisher()}">publisher</td>
                <td th:text="${book.getDateOfPublication()}">publicationDate</td>
                <td><a th:href="@{/book_order/{id} (id=${book.getId()})}">order</a></td>
                <td><a th:href="@{/book/{id}/edit (id=${book.getId()})}">edit</a></td>
                <td><a th:href="@{/book/{id}/delete (id=${book.getId()})}">delete</a></td>
                <td><a th:href="@{/book_give/{id} (id=${book.getId()})}" th:if="${canGiveBooks.contains(book)}">give</a></td>
            </tr>
        </div>
    </table>
</body>
</html>