<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Library</title>
</head>
<body>
    <h1 th:text="#{root.page.title}">Library</h1>
    <br>
    <h2 th:text="#{root.page.line1}">Library is open from 9AM to 7PM all days except Sunday</h2>
    <h3>You can take books to the reading room for 4 hours but only before library closing (7PM)</h3>
    <h3>You can take books on a subscription for 5 days. You must return books before library closing (7PM) on fifth day, and if it's Sunday - before closing in Monday</h3>
    <h3>If you can't return books on time the fine is <span th:text="${hour_fine}">hour fine</span> for one hour in reading room and <span th:text="${day_fine}">day fine</span> on the subscription.</h3>
    <br>
    <h3 th:if="${role}">Your current role is <span th:text="${role}"></span></h3>
    <br>
    <h3>Links:</h3>
    <a href="?lang=ru">Русский интерфейс</a><br>
    <a href="?lang=en">English interface</a><br>
    <br>
    <a href="/catalog">Book catalog</a><br>
    <a href="/account/reader" th:if="${role=='READER'}">Reader account</a><br>
    <a href="/account/librarian" th:if="${role=='LIBRARIAN'}">Librarian account</a><br>
    <br>
    <a href="/isbn" th:if="${role=='ADMINISTRATOR'}">Fill book from ISBN database</a><br>
    <a href="/book/new" th:if="${role=='ADMINISTRATOR'}">Create new book</a><br>
    <br>
    <a href="/user/new" th:if="${role==null}">Registration</a><br>
    <a href="/login" th:if="${role==null}">Login</a><br>
    <a href="/logout" th:if="${role}">Logout</a><br>
    <a href="/user/admin" th:if="${role=='ADMINISTRATOR'}">User management</a><br>
</body>
</html>