<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{userAdmin.title}">Users administration</title>
    <style>
        table, th, td {
            border: 1px solid gray;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h2 th:text="#{userAdmin.needRole}">Need to set ROLE</h2>
    <table>
        <tr>
            <th th:text="#{userAdmin.login}">login</th>
            <th th:text="#{userAdmin.fullName}">full name</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <div th:each="user: ${users_without_role}">
            <tr>
                <td th:text="${user.getLogin()}">login</td>
                <td th:text="${user.getFullName()}">full name</td>
                <td><a th:href="@{/user/{id}/set/reader (id=${user.getId()})}" th:text="#{userAdmin.setReader}">set role "reader"</a></td>
                <td><a th:href="@{/user/{id}/set/librarian (id=${user.getId()})}" th:text="#{userAdmin.setLibrarian}">set role "librarian"</a></td>
                <td><a th:href="@{/user/{id}/delete (id=${user.getId()})}" th:text="#{userAdmin.deleteUser}">DELETE account</a></td>
            </tr>
        </div>
    </table>

    <br/>
    <br/>
    <h2 th:text="#{userAdmin.blocked}">Blocked</h2>
    <table>
        <tr>
            <th th:text="#{userAdmin.login}">login</th>
            <th th:text="#{userAdmin.fullName}">full name</th>
            <th th:text="#{userAdmin.role}">role</th>
            <th></th>
            <th></th>
        </tr>
        <div th:each="user: ${users_blocked}">
            <tr>
                <td th:text="${user.getLogin()}">login</td>
                <td th:text="${user.getFullName()}">full name</td>
                <td th:text="${user.getRole()}">role</td>
                <td><a th:href="@{/user/{id}/unblock (id=${user.getId()})}" th:text="#{userAdmin.unblock}">unblock</a></td>
                <td><a th:href="@{/user/{id}/delete (id=${user.getId()})}" th:text="#{userAdmin.deleteUser}">DELETE account</a></td>
            </tr>
        </div>
    </table>

    <br/>
    <br/>
    <h2 th:text="#{userAdmin.activeUser}">Active users</h2>
    <table>
        <tr>
            <th th:text="#{userAdmin.login}">login</th>
            <th th:text="#{userAdmin.fullName}">full name</th>
            <th th:text="#{userAdmin.role}">role</th>
            <th></th>
            <th></th>
        </tr>
        <div th:each="user: ${users_working}">
            <tr>
                <td th:text="${user.getLogin()}">login</td>
                <td th:text="${user.getFullName()}">full name</td>
                <td th:text="${user.getRole()}">role</td>
                <td><a th:href="@{/user/{id}/block (id=${user.getId()})}" th:text="#{userAdmin.block}">block</a></td>
                <td><a th:href="@{/user/{id}/delete (id=${user.getId()})}" th:text="#{userAdmin.deleteUser}">DELETE account</a></td>
            </tr>
        </div>
    </table>
</body>
</html>